.error-message{ color: red; font-size: 11px; }
.error{ color: red; font-size: 11px; }
.anyDiscount label{ display: inline-block; padding: 7px 10px 0px 0px; }
#showFlasshMsgsDiv{ left: 45%; position: absolute; white-space: nowrap; width: auto; z-index: 999; }
#busy-indicator { display:none; }
.clear{ clear:both; }
.displayValueField{ padding-top:4px; }
#overlay_img {
    background: none repeat scroll 0 0 #000000;
    display: none;
    position: fixed;
    top: 0;
    z-index: 1050;
}

#busy-indicator {
    position: fixed;
	display: block;
}

.radioGroupCnt label{ padding-right:5px; }
.modulePermissions { padding-left: 25px; }

#showFlasshMsgsDiv{ display: none; }

/*.custom-form-actions {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 15px;
}*/
.custom-form-actions {

    margin-bottom: 5px;
}

.required{ color: red; font-size: 11px; }
.editCaseInfo { padding-top: 8px; }

.load-lightbox {
    background-color:#fff;
    width:100%;
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1181;
}
.loading-image {
    background:url('../images/ajax-loader1.gif') 50% 50% no-repeat;
    width:100%;
    height:100%;
    position:fixed;
    z-index:1183;
}

.edit-case-cnt {
    border: solid 1px !important;
    border-color: #c5d0dc !important;
}

.m-t-10 {
    margin-top: 10px;
}
.viewPageValues {
    text-decoration: underline;
}
/*
.widget-body {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff !important;
    border-color: -moz-use-text-color #ccc #ccc !important;;
    border-style: none solid solid !important;;
}*/
.common-flash {

    margin: 10px 10px 0px 10px;
}

.m-b-20 {
	
	margin-bottom: 20px !important;
}